.search {
  -webkit-appearance: none;
  border: 1px solid white;
  border-radius: 10px;
  text-align: left;
  outline: none;
  padding: 10px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 30px;
  font-family: "Press Start 2P";
  font-size: 8px;
}
